<%= form_with model: user do |form| %>
  <% user&.errors&.full_messages&.each do |message| %>
    <div><%= message %></div>
  <% end %>
  <%= form.label :name %>
  <%= form.text_field :name, placeholder: 'Yujin' %>
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: 'amazing@email.co.uk' %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit 'Edit' %>
<% end %>
